html, body {
    overflow-x: hidden;
}

body {
    animation: body-background-fade 0.2s easy-in-out;
}

@keyframes body-background-fade {
    0% {
        background-color: black;
    }
    100% {
        background-color: var(--wp--preset--color--base);
    }
}



:not(.is-style-overlapping) > :is(.wp-block-column) {
    margin: 0 var(--wp--preset--spacing--20);
}

.wp-block-group.is-syle-wide-margins :is(.wp-block-columns, .wp-block-) {
    max-width: var(--wp--preset--layout--wide-size);
}

:is(.wp-block-group, #dummy-id) {
    box-sizing: border-box;
}

:is(.justify, #dummy-id) {
    text-align: justify;
}






:is(.mktg-header, #dummy-id) {
    min-height: 80svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mktg-header figure.invisible {
    opacity: 0;
}

.mktg-header figure.visible {
    opacity: 1;
    animation: img-fade 0.3s ease-in-out;
}


@keyframes img-fade {
	0% {
        transform: translateX(10px);
		opacity: 0;
    }
	100% {
        transform: translateX(0);
		opacity: 1;
	}
}

@keyframes img-hide {
	0% {
        transform: translateX(0px);
		opacity: 1;
    }
	100% {
        transform: translateX(10px);
		opacity: 0;
	}
}

@keyframes img-fade-left {
	0% {
        transform: translateX(-10px);
		opacity: 0;
    }
	100% {
        transform: translateX(0);
		opacity: 1;
	}
}

@keyframes img-hide-left {
	0% {
        transform: translateX(0px);
		opacity: 1;
    }
	100% {
        transform: translateX(-10px);
		opacity: 0;
	}
}

.fancy-hide.invisible {
    opacity: 0;
}

.fancy-hide.visible {
    animation: img-fade-left 0.5s ease-in-out;
    opacity: 1;
}

.fancy-hide.hidden {
    animation: img-hide-left 0.3s ease-in-out;
    opacity: 0;
}


.homepage-rfi-form {
    font-size: var(--wp--preset--font-size--small);
    font-family: var(--wp--preset--font-family--comfortaa);
}

.homepage-rfi-form div.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.homepage-rfi-form div.row > div {
    display: flex;
    justify-content: center;
}

.homepage-rfi-form div.row > div:not(.submit-button-fields) {
    flex-grow: 20;
}

.homepage-rfi-form div.row > div.submit-button-fields {
    flex-grow: 1;
}

.homepage-rfi-form div p {
    width: 100%;
}
.homepage-rfi-form p input {
    box-sizing: border-box;
    padding: 1em;
    font-size: inherit;
    font-family: inherit;
    border-radius: 15px;
    width: 100%;
}

.homepage-rfi-form p {
    margin: 5px 0;
}

.homepage-rfi-form input:not(.wpcf7-submit) {
    flex-basis: 200px;
    opacity: 0.65;
}

.homepage-rfi-form input:not(.wpcf7-submit):is(:hover, :active, :focus) {
    opacity: 1;
}

.homepage-rfi-form input.wpcf7-submit {
    background-color: var(--wp--preset--color--contrast);
    opacity: 0.9;
}

.homepage-rfi-form input.wpcf7-submit:hover {
    opacity: 1;
    cursor: pointer;
}

.homepage-rfi-form input.wpcf7-submit:active {
    opacity: 0.5
}

.homepage-rfi-form .wpcf7-not-valid-tip {
    margin: 0.75em 0;
}

.homepage-rfi-form br {
    display: none;
}

.wpcf7 .wpcf7-response-output {
    font-family: var(--wp--preset--font-family--comfortaa);
    border-radius: 15px;
}










@keyframes roll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }

}

figure.is-style-homepage-tools-slider {
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;

}

figure.is-style-homepage-tools-slider > figure {
    margin: auto;
    max-height: 50px;
    aspect-ratio: auto;
}
