html {
    scroll-behavior:smooth
}

html, body {
    overflow-x: hidden;
}

body {
    animation: body-background-fade 2s;
}

.wp-site-blocks {
    padding-top: 0;

    :is(main.wp-block-group, #dummy-id) {
        margin-top: 0;
        padding-top: 100px;
    }
}

header.wp-block-template-part {
    position: absolute;
    z-index:100;
    width: 100%;
    top: 30px;
}

header .wp-block-group {
    flex-wrap: nowrap;
    gap: 5vw;
    justify-content: space-between;
    animation: opacity-in 1s;
}

header .wp-block-group .wp-block-site-title {
    text-shadow: 0 0 30px black;
}

nav.wp-block-navigation {
    padding: 15px 25px;
    border-radius: 15px;
    flex-grow: 0;
    text-transform: lowercase;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

@keyframes body-background-fade {
    0% {
        background-color: black;
    }
    100% {
        background-color: var(--wp--preset--color--base);
    }
}



:not(.is-style-overlapping) > :is(.wp-block-column) {
    margin: 0 var(--wp--preset--spacing--20);
}

.wp-block-group.is-syle-wide-margins :is(.wp-block-columns, .wp-block-) {
    max-width: var(--wp--preset--layout--wide-size);
}

:is(.wp-block-group, #dummy-id) {
    box-sizing: border-box;
}

:is(.justify, #dummy-id) {
    text-align: justify;
}






:is(.mktg-header, #dummy-id) {
    min-height: calc(93svh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    animation: opacity-in .5s;
}

@keyframes opacity-in {
    0% {
        opacity: 0;
    } 25% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.mktg-header figure.invisible {
    opacity: 0;
}

.mktg-header figure.visible {
    opacity: 1;
    animation: img-fade 0.3s ease-in-out;
}


@keyframes img-fade {
	0% {
        transform: translateX(10px);
		opacity: 0;
    }
	100% {
        transform: translateX(0);
		opacity: 1;
	}
}

@keyframes img-hide {
	0% {
        transform: translateX(0px);
		opacity: 1;
    }
	100% {
        transform: translateX(10px);
		opacity: 0;
	}
}

@keyframes img-fade-left {
	0% {
        transform: translateX(-10px);
		opacity: 0;
    }
	100% {
        transform: translateX(0);
		opacity: 1;
	}
}

@keyframes img-hide-left {
	0% {
        transform: translateX(0px);
		opacity: 1;
    }
	100% {
        transform: translateX(-10px);
		opacity: 0;
	}
}

.fancy-hide.invisible {
    opacity: 0;
}

.fancy-hide.visible {
    animation: img-fade-left 0.5s ease-in-out;
    opacity: 1;
}

.fancy-hide.hidden {
    animation: img-hide-left 0.3s ease-in-out;
    opacity: 0;
}


.homepage-rfi-form {
    font-size: var(--wp--preset--font-size--small);
    font-family: var(--wp--preset--font-family--comfortaa);
}

.homepage-rfi-form div.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.homepage-rfi-form div.row > div {
    display: flex;
    justify-content: center;
}

.homepage-rfi-form div.row > div:not(.submit-button-fields) {
    flex-grow: 20;
}

.homepage-rfi-form div.row > div.submit-button-fields {
    flex-grow: 1;
}

.homepage-rfi-form div p {
    width: 100%;
}
.homepage-rfi-form p input {
    box-sizing: border-box;
    padding: 1em;
    font-size: inherit;
    font-family: inherit;
    border: 2px solid var(--wp--preset--color--contrast);
    border-radius: 15px;
    width: 100%;
    height: 3.5em;
}

.homepage-rfi-form p {
    margin: 5px 0;
}

.homepage-rfi-form input {

    $opacity: 0.7;
    opacity: $opacity;
    animation: input-opacity-out 0.5s;

    &:is(:hover, :active, :focus) {
        opacity: 1;
        animation: input-opacity-in 0.1s;
    }
    
    @keyframes input-opacity-in {
        0% {
            opacity: $opacity;
        } 100% {
            opacity: 1
        }
    }

    @keyframes input-opacity-out {
        0% {
            opacity: 1;
        } 100% {
            opacity: $opacity;
        }
    }


    &:not(.wpcf7-submit) {
        flex-basis: 200px;
    }
}

.homepage-rfi-form input.wpcf7-submit {
    background-color: var(--wp--preset--color--base);
    color: var(--wp--preset--color--contrast);
}

.homepage-rfi-form input.wpcf7-submit:hover {
    cursor: pointer;
}

.homepage-rfi-form input.wpcf7-submit:active {
    opacity: 0.5
}

.homepage-rfi-form .wpcf7-not-valid-tip {
    margin: 0;
    border-radius: 0 0 15px 15px;
    background-color: var(--wp--preset--color--base);
    padding: 1em;
    position: absolute;
    opacity: 0;
    animation: homepage-rfi-temporary-opacity 5s;
}

.homepage-rfi-form br {
    display: none;
}

.wpcf7 .wpcf7-response-output {
    font-family: var(--wp--preset--font-family--comfortaa);
    border-radius: 15px;
}

.wpcf7-form > div[class^="wpcf7-"] {
    opacity: 0;
    position: fixed;
    bottom: 5vh;
    right: -200%;
    max-width: 60vw;
    animation: homepage-rfi-alert-slide 10s;
    background-color: var(--wp--preset--color--base);
    box-shadow: 0 0 20px black;
}

@keyframes homepage-rfi-temporary-opacity {
    0% {
        opacity: 0;
    } 10% {
        opacity: 1;
    } 90% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes homepage-rfi-alert-slide {
    0% {
        right: -200%;
        opacity: 0;
    } 10% {
        right: 5vw;
        opacity: 1;
    } 90% {
        right: 5vw;
        opacity: 1;
    } 100% {
        right: -200%;
        opacity: 0;
    }
}








@keyframes roll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }

}

figure.is-style-homepage-tools-slider {
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;

}

figure.is-style-homepage-tools-slider > figure {
    margin: auto;
    max-height: 50px;
    aspect-ratio: auto;
}
